body {
    font-family: 'Bevan';
    color: white;
    background-color: black;
    display: flex;
  justify-content: center;
  }

.menu {
    margin: auto;
}

.game {
    margin: auto;
    display: flex;
  justify-content: center;
}

.results {
  margin: auto;
}

.pf {
    width: 720px;
    height: 720px;
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
}

#pfCntr {
    display: inline-block;
    font-size: 128px;
    color: black;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;
}

#circle {
    text-align: center;
    line-height: 350%;
    font-size: 30px;
    position:absolute;
    transform:translate(-50%,-50%);
    height:100px;
    width:100px;
    border-radius:50%;
  }

#circleCorrect {
    text-align: center;
    line-height: 500%;
    font-size: 20px;
    position:absolute;
    transform:translate(-50%,-50%);
    height:100px;
    width:100px;
    border-radius:50%;
  }
  #score {
    margin: auto;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    display: flex;
  justify-content: center;
}
#playAgain {
  position: relative;
  width: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    left: 0;
    right: 0;
}